{{#Socios}}
<tr>
<td>{{{@I}}}</td> {{! ID_Socio }}
<td>{{{@N}}} {{{@AP}}} {{{@AM}}}</td> {{! Nombre, APaterno, Amaterno }}
<td>{{{@S}}}</td> {{! Sexo }}
<td>{{{@EC}}}</td> {{! EstadoCicil }}
<td>{{@CN}}</td> {{! ComunidadNombre }}
<td>{{{@TC}}}</td>
<td>{{{@E}}}</td> {{ !Email }}
<td>
	{{#FechaFormat}}{{@FN}}{{/FechaFormat}} {{! FechaNacimiento }}
</td>
<td>{{{@D}}}, {{{@C}}}</td> {{! Direccion, Colonia}}
<td><a target="_blank" href="{{CasaViewURL}}?id_casa={{@H}}">{{ViewLabel}} {{CasaLabel}} ({{@H}})</a></td> {{ !ID_Casa }}
<td>{{{@T}}} {{{@TS}}}</td> {{! Telefonos, TelefonosSecundario}}
</tr>
{{/Socios}}
{{^Socios}}{{data.msg_no_data}}{{/Socios}}