{{#casos}}
<tr>
     <td>{{Year}}</td>
     <td>{{{@MovID}}}</td>
     <td>{{{@SolicitanteNombre}}} {{{@SolicitanteApellidoPaterno}}} {{{@SolicitanteApellidoMaterno}}}
     <td>{{{@SolicitanteComunidad}}}</td>
     <td>{{{@ContraparteNombre}}} {{{@ContraparteApellidoPaterno}}} {{{@ContraparteApellidoMaterno}}}
     <td>{{{@ContraparteComunidad}}}</td>
     <td>{{{@Categoria}}}</td>
     <td>{{{@ResponsableNombre}}}</td>
     <td data-sort="{{{@FechaEmision}}}">{{Fecha_format}}</td>
     <td>{{{@Estatus}}}</td>
     <td>
     	<a href="{{urls.viewurl}}?casoid={{{@ID}}}">{{labels.viewlabel}}</a>
     </td>
</tr>
{{/casos}}
{{#casos}}msg_no_data{{/casos}}