{{#eventos}}
<form class="form-inline">
 <div class="panel panel-default CasoEventoContainer" id="CasoEventoContainer{{{@ID}}}">
   <div class="panel-heading" role="tab" id="heading-{{{@ID}}}">
     <h4 class="panel-title">
       <a role="button" data-toggle="collapse" data-parent="#{{parentid}}" href="#collapse-{{{@ID}}}" aria-expanded="true" aria-controls="collapse-{{{@ID}}}">
         {{{@Titulo}}} <button type="button" class="btn btn-success">Ver</button>
       </a>
      {{#EstatusSINAFECTAR}}
        <a id="CasoEventoDelete{{{@ID}}}" class="jsonaction-link" jsonaction-onsuccess="onDeleteCasoEvento" href="#" jsonaction="{{appPath}}/casoevento/deleteJSON?casoeventoid={{{@ID}}}"><button class="btn btn-danger">Eliminar</button></a>
      {{/EstatusSINAFECTAR}}
     </h4>
   </div>
   <div id="collapse-{{{@ID}}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{{@ID}}}">
     <div class="panel-body">
       <ul>
        <li class="list-group-item clearfix">
        {{#EstatusSINAFECTAR}}
          <div class="row">
            <div class="form-group col-sm-1">
              <label for="CasoEvento{{{@ID}}}Titulo">Título:</label>
            </div>
            <div class="form-group col-sm-6">
              <input type="text" name="CasoEvento{{{@ID}}}Titulo" id="CasoEvento{{{@ID}}}Titulo" class="form-control" value="{{{@Titulo}}}" />
            </div>
          </div>
        {{/EstatusSINAFECTAR}}
        {{#EstatusCONCLUIDO}}
        Título: {{{@Titulo}}}
        {{/EstatusCONCLUIDO}}
        {{#EstatusCANCELADO}}
        Título: {{{@Titulo}}}
        {{/EstatusCANCELADO}}
        </li>

        <li class="list-group-item clearfix">
        {{#EstatusSINAFECTAR}}
          <div class="row">
            <div class="form-group col-sm-1">
              <label for="CasoEvento{{{@ID}}}Detalles">Detalles:</label>
            </div>
            <div class="form-group col-sm-6">
              <textarea class="form-control" rows="5" cols="80" id="CasoEvento{{{@ID}}}Detalles" name="CasoEvento{{{@ID}}}Detalles">{{{@Detalles}}}</textarea>
            </div>
          </div>
        {{/EstatusSINAFECTAR}}
        {{#EstatusCONCLUIDO}}
        Detalles:<br/>{{{@Detalles}}}
        {{/EstatusCONCLUIDO}}
        {{#EstatusCANCELADO}}
        Detalles:<br/>{{{@Detalles}}}
        {{/EstatusCANCELADO}}
        </li>

       	<li class="list-group-item">
          <label for="CasoEvento{{{@ID}}}Estatus">Estatus:</label>
          <select class="form-control" id="CasoEvento{{{@ID}}}Estatus" name="CasoEvento{{{@ID}}}Estatus">
            <option value='SINAFECTAR' {{#EstatusSINAFECTAR}}selected="selected"{{/EstatusSINAFECTAR}}>SINAFECTAR</option>
            <option value='CONCLUIDO' {{#EstatusCONCLUIDO}}selected="selected"{{/EstatusCONCLUIDO}}>CONCLUIDO</option>
            <option value='CANCELADO' {{#EstatusCANCELADO}}selected="selected"{{/EstatusCANCELADO}}>CANCELADO</option>
          </select>
        </li>

       	<li class="list-group-item clearfix">
        {{#EstatusSINAFECTAR}}
          <div class="row">
            <div class="form-group col-sm-1">
              <label for="CasoEvento{{{@ID}}}TipoEvento">Tipo de Evento:</label>
            </div>
            <div class="form-group col-sm-6">
              <select class="form-control" id="CasoEvento{{{@ID}}}TipoEvento" name="CasoEvento{{{@ID}}}TipoEvento">
                <option value='' {{#TipoEventoNULL}}selected="selected"{{/TipoEventoNULL}}></option>
                <option value='Junta' {{#TipoEventoJunta}}selected="selected"{{/TipoEventoJunta}}>JUNTA</option>
                <option value='Llamada' {{#TipoEventoLlamada}}selected="selected"{{/TipoEventoLlamada}}>LLAMADA</option>
                <option value='Evento' {{#TipoEventoEvento}}selected="selected"{{/TipoEventoEvento}}>EVENTO</option>
                <option value='Otros' {{#TipoEventoOtros}}selected="selected"{{/TipoEventoOtros}}>OTROS</option>
              </select>
            </div>
          </div>
        {{/EstatusSINAFECTAR}}
        {{#EstatusCONCLUIDO}}
        Tipo de Evento: {{{@TipoEvento}}}
        {{/EstatusCONCLUIDO}}
        {{#EstatusCANCELADO}}
        Tipo de Evento: {{{@TipoEvento}}}
        {{/EstatusCANCELADO}}
        </li>

        <li class="list-group-item clearfix">
        {{#EstatusSINAFECTAR}}
          <div class="row">
            <div class="form-group col-sm-1">
              <label for="CasoEvento{{{@ID}}}TipoEvento">Fecha Evento: </label>
            </div>
            <div class="form-group col-sm-6">
              <input type="date" class="form-control" id="CasoEvento{{{@ID}}}FechaEvento" name="CasoEvento{{{@ID}}}FechaEvento" value="{{{@FechaH}}}" />
            </div>
          </div>
        {{/EstatusSINAFECTAR}}
        {{#EstatusCONCLUIDO}}
        Resonsable: {{{@FechaH}}}
        {{/EstatusCONCLUIDO}}
        {{#EstatusCANCELADO}}
        Resonsable: {{{@FechaH}}}
        {{/EstatusCANCELADO}}
        </li>

        <li class="list-group-item clearfix">
        {{#EstatusSINAFECTAR}}
          <div class="row">
            <div class="form-group col-sm-1">
              <label for="CasoEvento{{{@ID}}}TipoEvento">Resonsable:</label>
            </div>
            <div class="form-group col-sm-6">
              <select class="form-control" id="CasoEvento{{{@ID}}}Resonsable" name="CasoEvento{{{@ID}}}Resonsable">
                {{#ListaDirectivos}}
                  <option value="{{ID}}" {{#fnGetResponsableSelectedStatus}}@Responsable{{/fnGetResponsableSelectedStatus}}>{{Nombre}}</option>
                {{/ListaDirectivos}}
                {{^ListaDirectivos}}
                  <option value="">No se encontraron directivos</option>
                {{/ListaDirectivos}}
              </select>
            </div>
          </div>
        {{/EstatusSINAFECTAR}}
        {{#EstatusCONCLUIDO}}
        Resonsable: {{{@ResponsableNombre}}}
        {{/EstatusCONCLUIDO}}
        {{#EstatusCANCELADO}}
        Resonsable: {{{@ResponsableNombre}}}
        {{/EstatusCANCELADO}}
        </li>

       	<li class="list-group-item">
          <div class="row">
            <div class="form-group col-sm-12">
              Asiste:
              <label for="CasoEventoAsisteSolicitante{{{@ID}}}" class="btn btn-{{#getBooleanClass}}@AsisteSolicitante{{/getBooleanClass}}">Solicitante <input type="checkbox" id="CasoEventoAsisteSolicitante{{{@ID}}}" name="CasoEventoAsisteSolicitante{{{@ID}}}" class="badgebox" {{#getCheckedStatus}}@AsisteSolicitante{{/getCheckedStatus}} /><span class="badge">&check;</span></label>
              <label for="CasoEventoAsisteContraparte{{{@ID}}}" class="btn btn-{{#getBooleanClass}}@AsisteContraparte{{/getBooleanClass}}">Contraparte <input type="checkbox" id="CasoEventoAsisteContraparte{{{@ID}}}" name="CasoEventoAsisteContraparte{{{@ID}}}" class="badgebox" {{#getCheckedStatus}}@AsisteContraparte{{/getCheckedStatus}} /><span class="badge">&check;</span></label>
            </div>
          </div>
        </li>
       </ul>
     </div>
   </div>
 </div>
</form>
{{/eventos}}
{{^eventos}}{{msg_no_data}}{{/eventos}}